@charset 'utf-8';

html,body{
    margin: 0 auto;
    font-family: 'Kozuka Gothic Pr6N EL';
    font-size: 14px;
    color: gray;
    text-align: center;
}

#custom-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: fixed;
    top: 0;
    transition: opacity 700ms;
    width: 100%;
  }

#head{
    text-align: center;
    margin: 0 auto;
    margin-top: 500;
    width: 100;
    height: 40px;
    line-height: 500px;
}  

.logo {
    margin-left: 25px;
    margin-top: 130px;
  }  

  #ntp-contents {
    height: 155px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 50px;
    line-height: 5px;
  }

#header{
    width:1900px;
    margin:0 auto;
    text-align: center;
}

hr{
    width: 600px;
    height: 1px;
    text-align: center;
    background-color: black;
}

#content{
width:600px;
margin:0 auto;
padding-bottom:30px;
}

.input{
    border: none;
    border-bottom: 10px solid black;
    background: none;
    font: 14px arial;
    font-weight: bold;
    color: gray;
}

.login_form{
  clear:both;
  }
  
.blind{
  position:absolute;
  clip:rect(0 0 0 0);
  width:1px;
  height:1px;
  margin:-1px;
  overflow:hidden;
}
  
.id_area,.pw_area{
  position:relative;
}
  
.input_row{
  padding: 6px 35px 6px 10px;
  }
  
.input_box{
  display:block;
  overflow:hidden;
}

.input_box>input{
  border: none;
  border-bottom: 3px solid gray;
  text-align: center;
  width: 460px;
  height: 51px;
  letter-spacing: 3px;
  margin-left: 15px;
}

.btn_global{
  display:block;
  width:100%;
  height:61px;
  margin:30px 0 14px;
  padding-top:1px;
  border:none;
  border-radius:0;
  background-color:black;
  cursor:pointer;
  text-align:center;
  color:white;
  font-size:20px;
  font-weight:700;
  line-height:61px;
  -webkit-appearance:none
  }

.join{
  width: 80%;
  display: table;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}

.join>li{
  display: table;
  float: left;
  margin: 33px;
  list-style: none;
  text-align: center;
}


#login_footer1{
  width:300px;
  height: 100px;
  margin-top: 750px;
  margin-left: 450px;
  float: left;
}

#login_footer2{
  width:350px;
  height: 100px;
  margin-top: 750px;
  float: left;
}

#login_footer3{
  width:450px;
  margin-top: 750px;
  float: left;
}
